//- - const reviews = {
//-     1: {
//-       name: "Виктория М.",
//-       image: "client_1.jpg",
//-       icon: "fas fa-start",
//-       review: 
//-     }
//- }

div(id="carouselIndicators" class="carousel slide" data-bs-ride="carousel")
  div(class="carousel-indicators")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" aria-label="Slide 5")
    button(type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="5" aria-label="Slide 6")
  div(class="carousel-inner reviews-shapes")

    mixin client(active, clientName, clientReview, clientImg, icon)
      div(class=active + "carousel-item review_items")
        div(class="row")
          div(class="col-2")
          div(class="col-4 review_items-image")
            img(src=clientImg)
          div(class="col-4 review_items-text")
            div(class="row")
              p=clientReview 
            div(class="row review_items-name")
              i(class=icon)
              p=clientName
          div(class="col-2")

    +client('active ', 'Виктория М.', 'Самое лучшее ревью в мире! Я возвращаюсь каждый раз и прошу еще и еще! Столько откровений, столько проработок! Ни с одним коучем, ни с одним другим присхологом у меня такого не было. Очень экологичные и мягкие проработки! Обязательно записывайтесь к Оксане - не пожалете!', './../img/client_1.jpg', 'fas fa-star')
    +client('', 'Сергей Б.', 'Самое лучшее ревью в мире! Я возвращаюсь каждый раз и прошу еще и еще! Столько откровений, столько проработок! Ни с одним коучем, ни с одним другим присхологом у меня такого не было. Очень экологичные и мягкие проработки! Обязательно записывайтесь к Оксане - не пожалете!', './../img/client_2.jpg', 'fas fa-heart')
    +client('', 'Маргарита С.', 'Самое лучшее ревью в мире! Я возвращаюсь каждый раз и прошу еще и еще! Столько откровений, столько проработок! Ни с одним коучем, ни с одним другим присхологом у меня такого не было. Очень экологичные и мягкие проработки! Обязательно записывайтесь к Оксане - не пожалете!', './../img/client_3.jpg', 'fas fa-dove')
    +client('', 'Александра Ж.', 'Самое лучшее ревью в мире! Я возвращаюсь каждый раз и прошу еще и еще! Столько откровений, столько проработок! Ни с одним коучем, ни с одним другим присхологом у меня такого не было. Очень экологичные и мягкие проработки! Обязательно записывайтесь к Оксане - не пожалете!', './../img/client_4.jpg', 'fas fa-star')
    +client('', 'Артём М.', 'Самое лучшее ревью в мире! Я возвращаюсь каждый раз и прошу еще и еще! Столько откровений, столько проработок! Ни с одним коучем, ни с одним другим присхологом у меня такого не было. Очень экологичные и мягкие проработки! Обязательно записывайтесь к Оксане - не пожалете!', './../img/client_5.jpg', 'fas fa-star')
    
  button(class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev")
    span(class="carousel-control-prev-icon" aria-hidden="true")
    span(class="visually-hidden") Previous
  button(class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next")
    span(class="carousel-control-next-icon" aria-hidden="true")
    span(class="visually-hidden") Next
